<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mivueloapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiVueloApp">
        <activity
            android:name=".bryangrande.ReservacionEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".bryangrande.ReservacionActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".bryangrande.ReservacionConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".bryangrande.ReservacionInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".bryangrande.PagoEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".bryangrande.PagoActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".bryangrande.PagoConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".bryangrande.PagoInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".bryangrande.AgenciaEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".bryangrande.AgenciaActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".bryangrande.AgenciaConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".bryangrande.AgenciaInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".bryangrande.AgenciaVMenuActivity"
            android:exported="false" />
        <activity
            android:name=".bryangrande.ReservacionMenuActivity"
            android:exported="false" />
        <activity
            android:name=".bryangrande.PagoMenuActivity"
            android:exported="false" />
        <activity
            android:name=".joselucero.TripulanteEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".joselucero.ActivityEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".joselucero.TripulanteActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".joselucero.TripulanteConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".joselucero.TripulanteInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".joselucero.TripulacionEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".joselucero.TripulacionConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".joselucero.TripulacionActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".joselucero.VueloEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".joselucero.VueloActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".joselucero.VueloConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".joselucero.VueloInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".joselucero.TripulacionInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".joselucero.TripulanteMenuActivity"
            android:exported="false" />
        <activity
            android:name=".joselucero.TripulacionMenuActivity"
            android:exported="false" />
        <activity
            android:name=".joselucero.VueloMenuActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.AerolineaMenuActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.CupoMenuActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.AvionMenuActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017AerolineaEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017AerolineaInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017AerolineaActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017AerolineaConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017CupoEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017CupoActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017CupoInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017CupoConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017AvionElminarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017AvionConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017AvionActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017AvionInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".joseduran.CancelacionEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".joseduran.CancelacionActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".joseduran.CancelacionMenuActivity"
            android:exported="false" />
        <activity
            android:name=".joseduran.CancelacionConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".joseduran.CancelacionInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".joseduran.EstadoVueloEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".joseduran.EstadoVueloActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".joseduran.EstadoVueloConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".joseduran.EstadoVueloInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".joseduran.EstadoVueloMenuActivity"
            android:exported="false" />
        <activity
            android:name=".joseduran.BoletosEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".joseduran.BoletosActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".joseduran.BoletosConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".joseduran.BoletosInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".joseduran.BoletosMenuActivity"
            android:exported="false" />
        <activity
            android:name=".vlad.PasajeroEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".vlad.PasajeroUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".vlad.PasajeroMenuActivity"
            android:exported="false" />
        <activity
            android:name=".vlad.PasajeroConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".vlad.PasajeroInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".vlad.ReclamoEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".vlad.ReclamoUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".vlad.ReclamoMenuActivity"
            android:exported="false" />
        <activity
            android:name=".vlad.ReclamoConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".vlad.ReclamoInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".vlad.UsuarioEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".vlad.UsuarioUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".vlad.UsuarioMenuActivity"
            android:exported="false" />
        <activity
            android:name=".vlad.UsuarioConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".vlad.UsuarioInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".MenuJoseDuran"
            android:exported="false" />
        <activity
            android:name=".VladimirMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MenuKevin"
            android:exported="false" />
        <activity
            android:name=".MenuBryan"
            android:exported="false" />
        <activity
            android:name=".MenuJoseLucero"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>