<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mivueloapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiVueloApp">

        <activity
            android:name=".joseduran.CancelacionEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.InformeMenuActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.CupoMenuActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.AvionMenuActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017InformeEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017InformeInsetarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017InformeActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017InformeConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017CupoEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017CupoActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017CupoInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017CupoConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017AvionElminarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017AvionConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017AvionActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".kevin.Vm17017AvionInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".CancelacionEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".CancelacionActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CancelacionMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CancelacionConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CancelacionInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".EstadoVueloEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".EstadoVueloActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".EstadoVueloConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".EstadoVueloInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".EstadoVueloMenuActivity"
            android:exported="false" />
        <activity
            android:name=".BoletosEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".BoletosActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".BoletosConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".BoletosInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".BoletosMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MenuJoseDuran"
            android:exported="false" />
        <activity
            android:name=".MenuKevin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>