<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mivueloapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiVueloApp">
        <activity
            android:name=".CancelacionEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".CancelacionActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".CancelacionMenuActivity"
            android:exported="false" />
        <activity
            android:name=".CancelacionConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".CancelacionInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".EstadoVueloEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".EstadoVueloActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".EstadoVueloConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".EstadoVueloInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".EstadoVueloMenuActivity"
            android:exported="false" />
        <activity
            android:name=".BoletosEliminarActivity"
            android:exported="false" />
        <activity
            android:name=".BoletosActualizarActivity"
            android:exported="false" />
        <activity
            android:name=".BoletosConsultarActivity"
            android:exported="false" />
        <activity
            android:name=".BoletosInsertarActivity"
            android:exported="false" />
        <activity
            android:name=".BoletosMenuActivity"
            android:exported="false" />
        <activity
            android:name=".MenuJoseDuran"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>